.App {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  align-content: start
}

.item {
  flex: 0 0 auto;
  margin: 18px;
}
